.body {
    font-family: Arial, Verdana;
    background-color: #2F4F4F;
    box-sizing: border-box;
}

.Formulario_Reporte_Articulo {
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 320px;
    color: darkred;
    font-size: 12px;
    padding-left: 320px; /* espacio para el menú    con esto se mueve hacuia la derecha ojo importanteeeeeee */
    margin: 10px auto;
    width: 1200px;
    height: 500px;
}



.Tabla_Reporte {
    text-align: left;
    width: 350px;
    height: auto;
    padding-left: 100px; /* espacio para el menú    con esto se mueve hacuia la derecha ojo importanteeeeeee */
    margin-left: 33em; /* deja espacio al menú lateral */
    margin-top: 40px;
}

.Titulo_Formulario {
    font-family: #ffffff;
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    height: 40px;
}
.Cabecera_Etiqueta {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    background-color: #2F4F4F;
    color: #E5DADA;
    height: 25px;
}

.Fila_Dato {
    font-family: Arial;
    background-color: #E5DADA;
    font-size: 10px;
    height: 20px;
}

.BotonVerDetalle {
    font-family: Arial;
    font-size: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: yellowgreen;
}

/* Estilo del modal */
.modal {
    display: none; /* oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

    .close:hover {
        color: black;
    }